<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/font-awesome.css" rel="stylesheet" />
    <link href="~/Styles/style9.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
